---
interface Props {
  totalCount: number,
}

const { totalCount } = Astro.props;
---
<h3>Viewing <span id="project-count-span">0</span> out of {totalCount} projects</h3>
<ul id="projects-ul">
</ul>
