---
---
<fieldset>
  <legend>Quick Select</legend>
  <span>
    <label>
      <button id="projects-quick-select-show-all-button">Show All</button>
      <button id="projects-quick-select-default-button">Default</button>
      <button id="projects-quick-select-unselect-all-button">Unselect All</button>
    </label>
  </span>
</fieldset>
