---
---
<fieldset>
  <legend>Quick Select</legend>
  <span>
    <label>
      <button id="projects-quick-select-show-all-button">Show All</button>
      <button id="projects-quick-select-default-button">Default</button>
      <button id="projects-quick-select-hobby-projects-button">Hobby Projects</button>
      <button id="projects-quick-select-hackathon-projects-button">Hackathon Projects</button>
      <button id="projects-quick-select-school-projects-button">School Projects</button>
      <button id="projects-quick-select-3d-printing-projects-button">3D Printing Projects</button>
      <button id="projects-quick-select-c-cpp-projects-button">C/C++ Projects</button>
    </label>
  </span>
</fieldset>
