---
interface Props {
  totalCount: number,
}

const { totalCount } = Astro.props;
---
<h3>Viewing <span id="projects-list-count-span">0</span> out of {totalCount} projects</h3>
<p>Some projects are hidden because I value your time :) (Only a few are worth your time)</p>
<ul id="projects-list-ul">
</ul>
