---
import BaseLayout from '../../layouts/BaseLayout.astro';

interface BlogFrontmatter {
  title: string;
  description: string;
  date: string;
  hidden: boolean;
}

interface Blog {
  frontmatter: BlogFrontmatter;
  url: string;
}

const allBlogs: Blog[] = Object.values(import.meta.glob('./**/index.md', { eager: true }));
---
<BaseLayout pageTitle="Blog">
  <h2>Blog</h2>
  <ul id="blog-list-ul">
    {allBlogs
      .sort((a: Blog, b: Blog) => -1 * ((new Date(a.frontmatter.date).getTime()) - (new Date(b.frontmatter.date).getTime())))
      .map((blog: Blog) => {
        return (
          <li>
            <span>
              Posted on {blog.frontmatter.date && Intl.DateTimeFormat('en-US', {year: 'numeric', month: 'short', day: '2-digit'}).format(new Date(blog.frontmatter.date))}
              {' - '}
              <a href={blog.url}>
                {blog.frontmatter.title}
              </a>
            </span>
          </li>
        );
    })}
  </ul>
</BaseLayout>
