---
import BaseLayout from '../../layouts/BaseLayout.astro';
const pageTitle = "About";
---
<BaseLayout title={pageTitle}>
  <h1>About Me</h1>
  <p>I am Jeremy, a software engineer, gamer, competitive typer, 3D printing hobbyist, and a filipino born in Canada.</p>
  <p>I am a recent graduate with a Bachelor's of Software Engineering from Ontario Tech University located in Ontario, Canada. Right now, I am at <a href="https://atsign.com/" target="_blank">Atsign</a>- a cybersecurity startup based in the Silicon Valley. I work fully remotely as an Engineer, but work still calls me to travel from time to time. At Atsign, I do a wide range of work from SDK development in Dart, C, Python, working a lot with Linux, Docker, and computer networking (TCP/IP) while also acting as an solutions engineer for multiple clients/prospects.</p>
  <p>In my free time, I am a 3D printing hobbyist. I own an X1 Carbon with 2 AMS units and I like to print gifts for my nieces/nephews. I can also use Fusion 360 to design engineering/functional parts, like my <a href="/projects/capstone_blind_person_assistant/">capstone project</a> which won 1st place. Recently, I've picked up bouldering as a hobby as well.</p>
  </p>
  <p>This portfolio page is more meant to be an index for myself to help me keep track of all of my career related experiences and accomplishments. Check out my <a href="/blog/">blog</a>! I like to write things that I am passionate about. None of my writing is ChatGPT'd! Ever since graduating from school, I'm not too sure where my life is headed, so I thought I would start by programming this portfolio page in raw HTML/CSS/JavaScript while using Astro. So far, I love Astro's content-focused approach. It has been very fun to refresh on web development concepts while developing it completely on neovim as a beginner.</p>
  <p>Thank you for visiting my page!</p>
</BaseLayout>
