---
---
<fieldset>
  <legend>Quick Select</legend>
  <span>
    <button id="experiences-quick-select-show-all-button">Show All</button>
    <button id="experiences-quick-select-default-button">Default</button>
    <button id="experiences-quick-select-competitions-button">Competitions</button>
    <button id="experiences-quick-select-conferences-button">Conferences</button>
    <button id="experiences-quick-select-robotics-button">Robotics</button>
  </span>
</fieldset>
