---
interface Props {
  totalCount: number;
}

const { totalCount } = Astro.props;
---
<h3>Viewing <span id="experience-count-span">0</span> out of {totalCount} projects</h3>
<ul id="experiences-ul">
</ul>
