---
interface Props {
  totalCount: number;
}

const { totalCount } = Astro.props;
---
<h3>Viewing <span id="experiences-list-count-span">0</span> out of {totalCount} experiences</h3>
<p>Some experiences are hidden cause they're not that cool</p>
<ul id="experiences-list-ul">
</ul>
