---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="Contact">
  <h1>Contact Information</h1>
  <ul>
    <li>Email: <a href="mailto:jeremy.tubongbanua@gmail.com">jeremy.tubongbanua@gmail.com</a></li>
    <li>GitHub: <a href="https://github.com/JeremyTubongbanua">JeremyTubongbanua</a></li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/jeremy-tubongbanua/">in/jeremy-tubongbanua</a></li>
  </ul>
</BaseLayout>
