/* Base styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0047ab;
  color: white;
}

main {
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 0 auto;
  padding: 2em;
  max-width: 1200px; /* Ensures content doesn’t stretch too wide on large screens */
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2em;
  align-items: start;
}

.project-card {
  border: 0.2em solid #ffffff;
  border-radius: 1em;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.2);
  padding: 1em;
  min-height: 8em;
  cursor: pointer;
}

.project-header {
  display: flex;
  width: 100%;
  margin-bottom: 0.5em;
}

.project-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.project-title {
  display: flex;
  width: 100%;
}

.project-info h1 {
  margin: 0;
  font-size: 1.6em;
  font-weight: bold;
  color: #000;
}

.project-date {
  margin-left: auto;
  font-size: 0.95em;
  color: #777;
  white-space: nowrap;
}

.project-subtitle {
  font-size: 1em;
  color: #444;
  margin: 0;
  line-height: 1.4;
}

.project-skills {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 0;
  font-size: 1em;
  color: #444444;
}

.skill-badge {
  display: inline-block;
  background-color: #eee;
  color: #000;
  padding: 0.2em 0.5em;
  border-radius: 0.3em;
  font-weight: bold;
  font-size: 0.9em;
}

.project-body {
  margin-top: 0.5em;
}

.hidden {
  display: none;
}

.project-description {
  font-size: 1em;
  line-height: 1.5;
  color: #555555;
  margin-bottom: 1em;
}

.project-image {
  width: 100%;
  max-height: 20em;
  
  height: auto;
  object-fit: contain;
  border-radius: 0.5em;
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-tagline {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0.5em 0;
  color: #000000;
}

/* Mobile friendly adjustments */
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr; /* Single column layout */
    margin: 0 1em;            /* Reduce side margins */
    padding: 1em;             /* Slightly reduced padding */
  }

  .project-header h1 {
    font-size: 1.4em;
  }

  .project-date {
    font-size: 0.9em;
  }

  .project-image {
    max-height: 10em;
  }
}
