---
import BaseLayout from './BaseLayout.astro';
const { title, description, date } = Astro.props.frontmatter;
---
<BaseLayout pageTitle={title}>
  <div id="blog-header-div">
    <h1>{title}</h1>
    <span>Date Posted: {(new Date(date)).toDateString()}</span>
  </div>
  <div id="blog-description-div">
    <p>{description}</p>
  </div>
  <hr/>
  <div id="blog-content">
    <slot/>
  </div>
</BaseLayout>

<style is:global>
  img {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
  }

  #blog-content {
    display: block;
  }

  #blog-header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

</style>

