---
import TOC from '../components/TOC.astro';
import BaseLayout from './BaseLayout.astro';

interface BlogFrontmatter {
  title: string;
  description: string;
  posted_date: string;
  last_updated: string;
  hidden: boolean;
}

interface BlogProps {
  frontmatter: BlogFrontmatter;
  url: string;
  headings: {
    slug: string;
    text: string;
    depth: number;
  }[];
}

const title = Astro.props.frontmatter.title;
const date = Astro.props.frontmatter.date_posted;
const description = Astro.props.frontmatter.description;
const headings = Astro.props.headings;
---
<BaseLayout pageTitle={title}>
  <div id="blog-header-div">
    <h1>{title}</h1>
    <span>Date Posted: {(new Date(date)).toDateString()}</span>
  </div>
  <div>
    <p>{description}</p>
  </div>
  <hr/>
  {headings && headings.length > 0 && (
  <div id="blog-table-of-contents-div">
    <h2>Table of Contents</h2>
    <TOC headings={headings} />
  </div>
  <hr/>
  )}
  <div>
    <slot/>
  </div>
</BaseLayout>

<style is:global>
  img {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
  }

  #blog-header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>

