---
interface Props {
  totalCount: number;
}
const { totalCount } = Astro.props;
---
<h3>
  Viewing
  <span id="award-list-count">0</span>
  out of {totalCount} awards:
</h3>
<ul id="awards-list-ul"></ul>
