---
import { type SortBy, type OrderBy } from '../../types/award.ts';

interface Props {
  sortBys: readonly SortBy[];
  orderBys: readonly OrderBy[];
}

const { sortBys, orderBys } = Astro.props;
---
<fieldset>
  <legend>Sort</legend>
  <label>
    Sort By:
    <select id="award-sort-sort-by">
      {sortBys.map((sortBy) => <option value={sortBy}>{sortBy}</option>)}
    </select>
  </label>
  <label>
    Order By:
    <select id="award-sort-order-by">
      {orderBys.map((orderBy) => <option value={orderBy}>{orderBy}</option>)}
    </select>
  </label>
</fieldset>
